body {
    margin: 0;
    font-family: sans-serif;
}

footer {
    background: url("https://discordapp.com/assets/530280c4e76a27a6dd43c0ecabb96e7d.png");
    background-size: 20%;
    padding: 50px 80px;
}

.footer-apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(219, 221, 225, 0.1);
}

.footer-btn {
    color: #fff;
    background-color: #3cac79;
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.85rem;
    padding: 13px 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
    transition: 0.3s;
}
.footer-btn:hover {
   background-color: #3d9c71;
}

#footer-devices-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.monster {
  height: 40px;
  opacity: 0.5;
  transition: 0.2s;
}

.monster:hover {
opacity: 1;
transform: translateY(-5px);
}

#footer-devices {
    height: 80px;
    width: 90%;
    background: url("https://discordapp.com/assets/488cb1e29a13336481369363cb861f02.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 60px;
}

#footer-devices a {
  opacity: 0.5;
  text-decoration: none;
  transition: 0.3s;
}

#footer-devices a:hover {
  opacity: 0.9;
}

#footer-devices a:nth-child(1) {
  margin-left: 11.7%;
}

#footer-devices a:nth-child(2) {
  margin-left: 14.5%;
}

#footer-devices a:nth-child(3) {
  margin-left: 6%;
}

#footer-devices a:nth-child(4) {
  margin-left: 13%;
}

#footer-devices a:nth-child(5) {
  margin-left: 2%;
}

.footer-index {
   display: flex;
   margin-top: 40px;
   padding: 0 50px;
}

.footer-discord-logo img {
    width: 130px;
    margin-right: 150px;
}

.footer-index ul {
   margin: 0;
   padding: 0;
   list-style: none;
   width: 250px;
}

.footer-index a {
   color: rgba(219, 221, 225, 0.4);
   font-size: 0.85rem;
   text-decoration: none;
   transition: 0.2s;
}
.footer-index a:hover {
   color: #fff;
}

.footer-index li:not(:first-of-type) {
   margin: 10px 0;
}



footer strong {
   color: #3ca374;
}
